img.play_icon {
	position: absolute;
	z-index: 1;
	top: 9px;
	left: 10px;
	background: url(../images/play_icon.gif) no-repeat left top;
}


/* Transparency */
div.transparent {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 998;
	background: none;
	/*ie 5+ only*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src="/images/overlay.png",sizingMethod="scale");
}

/*other browsers*/
html>body div.transparent {
	background: url(../images/overlay.png) repeat top left;
}

#registercode input.submit {
	float: none;
	vertical-align: middle;
	margin: 0px 0px 3px 0px;
}




/* 404 ERROR
-------------------------------*/
div#body.fourohfour #maincontent {
	float: none;
	display: block;
	padding: 0;
	margin: 0 0 0 0;
	width: 463px;
	background: none;
}
div.fourohfour #maincontent p,
div.fourohfour #maincontent h2,
div.fourohfour #maincontent h3 {
	margin: 0 0 0 14px;
}
div.fourohfour #maincontent h2 {
	font-size: 1.5em;
}
div.fourohfour #maincontent h3 {
	padding: 14px 0 6px 0;
	font-size: 1.3em;
	color: #545454;
}
div.fourohfour #maincontent p {
	font-size: 1.1em;
	line-height: 1.363em;
	color: #666;
}
div.fourohfour #maincontent ul {
	margin: 0 0 14px 0;
	padding: 0 0 0 14px;
	list-style: none;
}
div.fourohfour #maincontent ul li {
	font-size: 1.1em;
	line-height: 1.363em;
}


/* PAGINATION
--------------------------------*/
#maincontent div.pagination {
	margin: 7px 0 0 0;
	padding: 11px 0 20px 0;
	background: url(../images/border_dotted.gif) repeat-x left top;
}
#maincontent div.pagination p {
	float: left;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
	color: #666;
}
#maincontent div.pagination ul {
	float: right;
	margin: 0;
	padding: 0;
}
#maincontent div.pagination ul li {
	display: inline;
	font-size: 1.1em;
	color: #666;
	padding: 0;
}
#maincontent div.pagination ul li a {
	padding: 0 4px 0 4px;
}
#maincontent div.pagination ul li a.selected {
	color: #666;
}




/* SEARCH TEMPLATE
--------------------------------*/
div#body.searchTemplate #maincontent {
	width: 562px;
	padding: 0;
	margin: 0;
	background: none;
}
div#body.searchTemplate #contextual {
	width: 332px;
	margin-left: 6px;
	background: #fff;
}
div.searchTemplate div.wrap {
	margin-bottom: 6px;
	padding-bottom: 30px;
	padding: 10px 0 30px 14px;
	background: url(../images/bg_wrap_viewtemplate.gif) repeat-y left top;
}
div.searchTemplate h2 {
	width: 534px;
	padding: 0 0 6px 0;
	margin: 0 0 10px 0;
	font-size: 1.1em;
	font-weight: normal;
	color: #666;
	background: url(../images/border_dotted.gif) repeat-x left bottom;
}
div.searchTemplate #maincontent dl dt {
	padding: 0 0 3px 0;
}
div.searchTemplate #maincontent dl dt a {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}
div.searchTemplate #maincontent dl dd ul {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
div.searchTemplate #maincontent dl dd li {
	padding: 0 20px 0 0;
	color: #000;
	font-size: 1.2em;
	line-height: 1.34em;
}

/* BACKEND STYLES
--------------------------------*/
div.template {
	position: relative;
	display: block;
	height: 450px; 
	width: 450px;
}
div.template a {
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	color: #666666;
	background: #93c7d4;
	text-align: center;
}
div.template a:hover {
	background: #ffffcc;
}
div.templateSample1 {
	background: url(../images/templateSample1.jpg) no-repeat top left;
}
div.templateSample1 a.area1 {
	position: absolute;
	top: 98px;
	left: 154px;
	height: 74px; 
	width: 297px; 
}
div.templateSample1 a.area2 {
	position: absolute;
	top: 193px;
	left: 154px;
	height: 134px; 
	width: 297px;
}
div.templateSample2 {
	background: url(../images/templateSample1.jpg) no-repeat top left;
}
div.templateSample2 a.area1 {
	position: absolute;
	top: 98px;
	left: 154px;
	height: 74px; 
	width: 297px; 
}
div.templateSample2 a.area2 {
	position: absolute;
	top: 193px;
	left: 154px;
	height: 200px; 
	width: 145px; 
}
div.templateSample2 a.area3 {
	position: absolute;
	top: 193px;
	left: 306px;
	height: 200px; 
	width: 145px; 
}

/* bordered panels */

div.brownBorderPanel {
	padding: 20px 14px 0px 14px;
	background-color: #E7E2DA; 
}
div.whiteBorderPanel {
	padding: 20px 14px;
	background-color: #ffffff; 	
}
div.silverBorderPanel {
	padding: 20px 14px;
	background-color: #F2F2F2; 	
}
div.greyBorderPanel {
	padding: 20px 14px;
	background-color: #D4D4D2; 	
}