/*Landing Page*/

#flash_message {
	margin: auto;
	padding: 15px;

}
.jumbotron{
    background:url(http://i.imgur.com/yL6DxRq.png) no-repeat center center;
    background-size: cover;
}

#right-side-bar{
	margin-top: 8px;
}

#right-side-bar li{
	margin-left: 10px;
}

.thumbnail {
	margin-left:24px;
	margin-right: 24px;
}

ul.nav a:hover { color: #3366CC!important; }
/*After Log In*/

#pie-info{
	margin: auto;
}

#stored-vocab{
	margin: auto;
}

}
#vocab-buttons {
	float: right;
}

.word-column {
	width: 150px;
}

audio { width: 270px; }

/*Query Results*/
table.query-results{
	padding: 10px;
	margin: auto;
	border: none;
	float:left;
}


/*Selectd Vocab*/

#video {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#transcript_para {
	height: 400px;
	overflow-y: scroll;
}


table.toggle_chart {
	margin-left: auto; 
	margin-right: 500px;
	border: 1px solid black;

}

table.toggle_chart tr th td {
	border: 1px solid black;

}

/*Quiz Display*/

.display_vocab_quiz {
	width:800px;
	margin-left: auto; 
	margin-right: auto;
}


