.jumbotron{
    background:url(http://i.imgur.com/yL6DxRq.png) no-repeat center center;
    width: 1000px;

}

table.query-results{
	padding: 10px;
	border: none;
	float:left
}

table.toggle_chart {
	width: 1000px;
	margin-left: auto; 
	margin-right: auto;
	border: 1px solid black;

}

table.toggle_chart tr th td {
	border: 1px solid black;

}
th.vocab_head, td{
	width: 250px;
	padding: 4px;
}

.display_vocab_quiz {
	width:800px;
	margin-left: auto; 
	margin-right: auto;
}

.each_vocab_quiz {
	border: 1px solid black;
	padding: 8px;
}
#video {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.vocab-chart {
	width: 1000px;
	margin-left: auto; 
	margin-right: auto;
}

#vocab-buttons {
	float: right;
}

#transcript_para {
	width: 900px;
	height: 200px;
	margin-left: auto; 
	margin-right: auto;
	overflow-y: scroll;
}

