<!doctype html>
<html>
	<head>
	<title>Word Fit</title>
	
	<link rel='stylesheet' href='/static/nprogress.css'/>
	<link rel='stylesheet' href='/static/legend.css'/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/static/stylesheet.css'>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>

	</head>
	
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		      <ul class="nav navbar-nav">
		        <li id="search-form"><a href="/">Homepage<span class="sr-only"></span></a></li>
		     
		      <form action="/query" method='get' class="navbar-form navbar-left" role="search" id="search-box" >
		        <div class="form-group" >
		          <input type="text" name='key_word'class="form-control" placeholder="Enter key word">
		        </div>
		        <button type="submit" class="btn btn-default">Search</button>
		      </form>
		      
		      	<li id="flash_message">
	    		  	{% for message in get_flashed_messages() %}
						<p>{{message}}</p>
					{% endfor %}
				</li>
				</ul>
		    

		      {% if "user_id" not in session %}
		      <ul class="nav navbar-nav navbar-right" id="right-side-bar">
		        <li>
		        	<form action='/login' method='post'>
					        <div class="form-group">
			          			<input type="email" name='email'class="form-control" placeholder="email">
			        		</div>
			    </li>
			    <li>
				            <div class="form-group">
		          				<input type="password" name='password'class="form-control" placeholder="password">
		        			</div>
		        </li>
		        <li>
		        			<button type="submit" class="btn btn-default">Log In</button>
    				</form>
		        </li>

		        <li>
			    	<form action='/create_account'>
			    		<button type="submit" class="btn btn-default">Sign Up</button>
			    	</form>
			    </li>
		      </ul>

		      {% else %}
		      <ul class="nav navbar-right">
				<li>
			    	<form action="/logout">
			    		<button type="submit" class="btn btn-default" id-"log-out">Log Out</button>
			    	</form>
			    </li>
			    </ul>
    		  {% endif %}
    		
		    </div>
		  </div>
		</nav>

		{% block content %} content can go here {% endblock %}
	

	<script>
	var flashMessage = $("#flash_message");
	setTimeout(flashMessage.fadeOut(5000), 5000);
	</script>


		
	</body>




</html>



