<!doctype html>
<html>
	<head>
	<title>Word Fit</title>
	
	<link rel='stylesheet' href='/static/nprogress.css'/>
	<link rel='stylesheet' href='/static/legend.css'/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/static/stylesheet.css'>
	<link rel="icon" href="static/images/learning.ico">
	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="793386276367-k9jhe0jv928jbquv01qbf5hop5m5m5hd.apps.googleusercontent.com">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>

	</head>
	
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		     <ul class="nav navbar-nav">
		        <li id="search-form"><a href="/">Homepage<span class="sr-only"></span></a></li>

			    <form action="/query" method='get' class="navbar-form navbar-left" role="search" id="search-box" >
			        <div class="form-group" >
			          <input type="text" name='key_word'class="form-control" placeholder="Enter key word">
			        </div>
			        <button type="submit" class="btn btn-default">Search for Ted Talks</button>
			    </form>
		      
		      	<li id="flash_message">
	    		  	{% for message in get_flashed_messages() %}
						<p>{{message}}</p>
					{% endfor %}
				</li>
			</ul>
		    
	     	 <ul class="nav navbar-nav navbar-right" id="right-side-bar">
	        <li>
	        	<div id="my-signin2"></div>

					<script>
					// google sign in
					    function onSuccess(googleUser) {

				 		  var profile = googleUser.getBasicProfile();
					      
					      var name = profile.getName()
					      var email = profile.getEmail()
					      var image = profile.getImageUrl()
					    

				    	$.post('/login', {'name': name, 'email': email, 'image': image}, function(data){
				    				console.log(data);

							    	}	
				    		)
					}

					    function onFailure(error) {
					      console.log(error);
					    }

					    function renderButton() {
					      gapi.signin2.render('my-signin2', {
					        'scope': 'https://www.googleapis.com/auth/plus.login',
					        'width': 175,
					        'height': 30,
					        'longtitle': true,
					        'theme': 'dark',
					        'onsuccess': onSuccess,
					        'onfailure': onFailure
					      });
					    }
					</script>
				  	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	        </li>
	        <li>
		    	
		    	<div class="abcRioButton abcRioButtonBlue" style="height: 30px">
		    		<a class="abcRioButtonContentWrapper" id="signout" href="/logout" onclick="signOut();">
		    			<span class="abcRioButtonContents" style="color:white">Sign out</span>
		    		</a>
		    	</div>
				<script>
					  function signOut() {
					    var auth2 = gapi.auth2.getAuthInstance();
					    auth2.signOut().then(function () {
					      console.log('User signed out.');
					    });
					  }

				</script>
				
		    </li>

	    
	      	</ul>

		      
		    </div>
		  </div>
		</nav>

		{% block content %} content can go here {% endblock %}
	

	<script>
	var flashMessage = $("#flash_message");
	setTimeout(flashMessage.fadeOut(5000), 5000);
	</script>


		
	</body>




</html>



