{% extends 'base.html' %}

{% block content %}


    <h3>To create an account, please fill in the following information</h3>
    <br>
    <form action='/account_feedback', method='post'>
        <label>E-mail: <input type='email' name='email'></label>
        <br>
        <label>Password: <input type='password' name='password'></label>
        <br>
        <label>First Name: <input type='text' name='fname'></label>
        <br>
        <label>Last Name: <input type='text' name='lname'></label>
        <br>
        <input type='submit' value='Create an Account'>
    </form>





{% endblock %}