{% extends 'base.html' %}

{% block content %}
<br>
<a href='/query?key_word={{key_word}}'>Return to Query Results</a>
<br>


<h3>Video</h3>

<iframe src={{ video }} width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<h3>Transcript</h3>
	{% for para in webpage_transcript %}
		<p>{{webpage_transcript[para]}}</p>
	{% endfor %}
<br>
<br>
<h3>Vocabulary Chart</h3>
	<table>
		<thead>
				<tr>
					<th>VOCAB</th>
					<th>STEM</th>
					<th>PARTS OF SPEECH</th>
					<th>PRONUNCIATION</th>
					<th>DEFINITION</th>
					<th>FREQUENCY</th>
					<th>SENTENCE</th>
					<th>SELECTION</th>
				</tr>
		</thead>
		<tbody>
		{% for word in vocab_list %}
			<tr>
				<td>{{word.word}}</td>
				<td>{{word.stem}}</td>
				<td>{{word.parts_of_speech}}</td>
				<td><a href='{{word.pronunciation}}'>Pronounce it!</a></td>
				<td>{% for entry in definition_sets[word.word] %}
						<p>{{entry}}</p>
					{% endfor %}
				</td>
				<td>{{word.freq}}</td>
				<td>{{word.sentence}}</td>
				<td>{{word.selection}}</td>	
			</tr>
		{% endfor%}
		</tbody>
	</table>
	
	<form action='/vocab_exercise' method='post'>
		{% set count = 1 %}
		{% for word in vocab_list %}
			<input type="hidden" name='word{{count}}' value='{{word.word_id}}'>
			{% set count = count + 1 %}
		{% endfor %}
		<input type="hidden" name="key_word", value="{{key_word}}">
		<input type="hidden" name="slug", value="{{slug}}">
		<input type="hidden" name="talk_id", value="{{talk_id}}">
		<input type="submit" value="Work on Vocab Exercises!">
	</form>
	
	
{% endblock %}

