{% extends 'base.html' %}

{% block content %}
<br>
<form action='/vocab_exercise' method='post'>
		{% set count = 1 %}
		{% for word in vocab_list %}
			<input type="hidden" name='word{{count}}' value='{{word.word_id}}'>
			{% set count = count + 1 %}
		{% endfor %}
		<input type="hidden" name="key_word", value="{{key_word}}">
		<input type="hidden" name="slug", value="{{slug}}">
		<input type="hidden" name="talk_id", value="{{talk_id}}">
		<input type="submit" value="Take the Test Again.">
</form>	
<br>

<a href='/selection?slug={{slug}}&talk_id={{talk_id}}&key_word={{key_word}}'>
Study the Vocab Again. 
</a>


<h3>Vocab Exercise Results</h3> 

	<ol>
		{% for the_id in id_ans_key %}
			{% set ans, key = id_ans_key[the_id] %}

			<li id="{{the_id}}">
				{% if ans == key %}
					<p>You got '{{ ans }}'right!</p>
				
				{% else %}
				<p>Oops! '{{ ans }}'' is wrong. It is '{{ key }}</p>
				
				{% endif %}
			</li>

		{% endfor %}
	</ol>


<p>Score: You got {{ score }}/10 right.</p>


{% endblock %}

