{% extends 'base.html' %}

{% block content %}
	
    <form action="/query" method='get'>
        <label>Enter key word to search for ted talks:
            <input type='text' name='key_word'>
        </label>
        <input type='submit' value='Search for Ted Talks'>
    </form>

	{% if "user_id" in session %}
    	<h3>USER PROFILE</h3>
        <canvas id="myChart" width="1000" height="300"></canvas>
        <div id="legendDiv"></div>
        <div class="vocab-chart">
        {% if words %}
        <h5>Here are the words you have studied so far:</h5>
            {% for word in words %}

             <table id="vocab-entry-{{word.word_id}}"> 
                <tbody>

                <tr>
                    <td><b>{{word.word}}</b></td>
                    
                    <td>{{word.selection}}</td> 
                    
                    <td>
                    <audio id="pronunciation-{{word.word_id}}" src='{{word.pronunciation}}' controls></audio>
                    </td>
                
                    <td>
                        <div id="vocab-buttons">
                        <span>
                        <input class="toggle_chart" id="toggle-{{word.word_id}}" type="image" src="static/images/view.png" alt="submit" style="width:20px ; height: 20px"
                        title="click to view additional vocabulary information" >
                        </span>

                        <span>
                        <input type="image" src="static/images/cross.png" alt="submit" style="width:20px ; height: 20px" 
                        class='word_list' id="{{word.word_id}}"
                        title="click to remove vocabulary from your personal list">
                        </span>

                        <span>
                            <a id="ny-link-{{word.word_id}}" href='{{word.other_usage_link}}'target="_blank"><input type="image" src="static/images/globe.png" alt="submit" style="width:20px ; height: 20px" title="click to view the New York Times article">
                            </a>
                        </span>
                        <div>
                    </td>
                </tr>

                <tr class="hidden_vocab_info hidden-toggle-{{word.word_id}}">
                        
                    <td><em>Definition</em></td>
                        <td><div id="pos-{{word.word_id}}">
                            {{word.parts_of_speech}}
                            </div>
                    </td>
                    <td colspan="3">
                        <div id="definition-{{word.word_id}}">
                                {{word.definition}}
                        </div>
                    </td>    
                </tr>                    

                <tr class="hidden_vocab_info hidden-toggle-{{word.word_id}}">
                    <td><em>Ted Talk Sentence</em></td>
                    <td colspan="3">{{word.sentence}}</td>
                </tr>

                <tr class="hidden_vocab_info hidden-toggle-{{word.word_id}}">
                    <td><em>NY Times Sentence</em></td>
                    <td colspan="3" ><span id="ny-sentence-{{word.word_id}}">{{word.other_usage}}</span>    
                    </td>
                </tr>
                
                </tbody>
            </table>
            <br>
            {% endfor %}
        </div>
        
        {% else %}
            <h5>Looks like you havent' stored any vocabulary yet.</h5>
        {% endif %}

    {% else %}
    	<form action='/create_account'>
    		<label>
    			<input type='submit' value="Create an Account">
    		</label>
    	</form>
    {% endif %}
	<br>

    <img src="static/images/mw-small-logo.png"><img src="static/images/ny-logo.png">
    <div>
    <em>“Data provided by TED API, Merriam-Webster's Learner's Dictionary API, and New York Times API. It is not an official service of TED, Merrian-Webster's or New York Times.”</em>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="static/Chart.js"></script>
    
    <script>
            // var ctx = $("#myChart").get(0).getContext("2d");
            // // pie chart data
            // // Loop through the talk list
            // var data = []
            // entries = 10 + Math.floor(Math.random() * 40);

            // for (i = 0; i < entries; i++) {
            //     r = Math.floor(Math.random() * 200);
            //     g = Math.floor(Math.random() * 200);
            //     b = Math.floor(Math.random() * 200);
            //     v = Math.floor(Math.random() * 500);
            //     c = 'rgb(' + r + ', ' + g + ', ' + b + ')';
            //     h = 'rgb(' + (r+20) + ', ' + (g+20) + ', ' + (b+20) + ')';
            //     data.push( {
            //       value : v,
            //       label : 'item ' + i,
            //       color: c,
            //       highlight: h
            //     }) ;
            // };
            // var PieChart  = new Chart(ctx).Pie(data)

        var getPieInfo = function(){

            $.post('/get_pie_info', function(data){
                alert(data)
                var parsedPieData = JSON.parse(data)
                console.log(parsedPieData)


                var ctx = $("#myChart").get(0).getContext("2d");
                // pie chart data
                // Loop through the talk list
                var data = []
                entries = parsedPieData.length

            for (i = 0; i < entries; i++) {
                r = Math.floor(Math.random() * 200);
                g = Math.floor(Math.random() * 200);
                b = Math.floor(Math.random() * 200);
                v = parsedPieData[i][1].length
                l = parsedPieData[i][0] + "                [" + parsedPieData[i][1] + "]   " 
                c = 'rgb(' + r + ', ' + g + ', ' + b + ')';
                h = 'rgb(' + (r+20) + ', ' + (g+20) + ', ' + (b+20) + ')';
                data.push( {
                  value : v,
                  label : l,
                  color: c,
                  highlight: h
                }) ;
            };
            var PieChart  = new Chart(ctx).Pie(data)
            $("#legendDiv").html(PieChart.generateLegend());
            
            })
        }
        $(document).ready(getPieInfo);
            </script>


    <script> 
     //Removes vocab after click on vocab 
    var removeVocab = function(evt){
        var changeToDisappear= "#vocab-entry-"+this.id

        $(changeToDisappear).fadeOut()
        $.post('/remove_vocab', {'word_id':this.id}, function(data){
            }
        );

    }
    var stored_list = $('.word_list');
    for (var i=0; i < stored_list.length; i++){
        $(stored_list[i]).on('click', removeVocab);

    }
    // Toggles vocab after clicking the view image
        // toggle each vocab chart to show more info
    var hidden_vocab_info = $('.hidden_vocab_info');
    hidden_vocab_info.hide();
    
    toggle_chart = $('.toggle_chart');
    
    var toggleVocabChart = function() {
        $(".hidden-"+this.id).toggle();
    }

    for (var i=0; i<toggle_chart.length; i++){
        $(toggle_chart[i]).on('click', toggleVocabChart);
    }


    // fetch new york times . dictionary API after document is ready
    displayPosDef = function(){
        
        var unique_id = this.id.split("-")[1]
        var partsOfspeech = $("#pos-"+unique_id)
        var definition = $("#definition-"+unique_id)

        $.post('/get_pos_def', {toggle_word_id: this.id}, function(data) {
            if (data) {
            partsOfspeech.empty()
            definition.empty()

            for (i=0; i<data.parts_of_speech.length; i++) {
                partsOfspeech.append(data.parts_of_speech[i]).append("<br/>");
            }
            for (i=0; i<data.definition.length; i++) {
                definition.append(data.definition[i]).append("<br/>");
                }
            }
        }
    );
    
}
    $(document).ready(function(){
        $(toggle_chart).each(displayPosDef);
    });
    </script>


{% endblock %}








