{% extends 'base.html' %}

{% block content %}

<h3>Here are the sentences (and answers!) that you will be tested on.</h3>

<form action='/exercise_submission', method='post'>
<ul>
	{% set count = 1 %}
	{% for word_set in vocab_exercise_list %}
		{% set word, exercise =  word_set %}
		{% set first_half, second_half, length = exercise %}
		
		<li>{{ first_half }}<input type="text" name="ans{{count}}" size="{{length}}">{{ second_half }}</li>
			<input type="hidden" name="key{{count}}" value="{{word.word}}">
			{% set count = count+1 %}

	{% endfor %}
</ul>

	{% set count = 1 %}
	{% for word in vocab_list %}
		<input type="hidden" name='word{{count}}' value='{{word.word_id}}'>
		{% set count = count + 1 %}
	{% endfor %}
	<input type="hidden" name="key_word", value="{{key_word}}">
	<input type="hidden" name="slug", value="{{slug}}">
	<input type="hidden" name="talk_id", value="{{talk_id}}">
 	<input type='submit' value='Submit my answers'>
</form>


	
{% endblock %}